.disabledTab{
    pointer-events: none;
}

footer {
    position:relative;
    left:0px;
    bottom:0px;
    height:10px;
    width:100%;
    background:#999;
}

/*Index page*/
.p {font-size: 14px; font-family: "Comic Sans MS"; color:black}

.pFooter {font-size: 14px; font-family: "Comic Sans MS"}

.p2 { font-size: 16px; font-family: "Comic Sans MS"; alignment:center}

.intro1 {
    alignment:center;
    font-family: "Comic Sans MS";
}
.intro {
    alignment:center;
    padding-left: 100px;
    padding-right:100px;
    font-family: "Comic Sans MS";
    text-justify: auto;
}

.img-circle {
    border-radius:50%;
    width:35%;
}

.image{
    alignment: center;
}
.margin2 {padding-left:155px; margin-bottom: 35px;}
.margin3 {padding-left:340px; margin-bottom: 10px;}
.margin {alignment:center; margin-bottom: 40px; font-family: "Gill Sans MT"}
.structureImg {padding-left:450px}
.bg-1 {
    background-color: #9d9d9d; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: darkgray; /* beige */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bodyContainer {
    padding-top: 70px;
    padding-bottom: 70px;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: "Arial";
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.mainBody {
    background-color: #F5F5DC;
    background-size: cover;
    font-family: "Arial";
    background-attachment: fixed;
    font-size: 20px;
    padding-top: 50px;
}

.tHeader { font-weight: bold; background-color:lightgrey;}

.tHeader2 { font-size: medium; color: black; text-align: center;}

.header h3 {font-family: "Raleway"; font-weight: 300; text-align:left;}
@media screen and (max-width: 767px) {
    .header h3 {font-size:12px; }
}
.h3 {margin: 5px; font-family: "Berlin Sans FB"; border: outset; text-align: center}

/*Initial Permutation Stage */
.lblIP { width:305px; display: inline-block}

/*expand permutation */
.lblOps { width:167px; display:inline-block}
.lblEP {width:230px; display: inline-block}

/*Key Pre-processing*/
.lblKP {width:265px; display: inline-block}

/*Compression Permutation */
.lblCP {width:305px; display:inline-block}

/*Key Schedule*/
.lblRText {width:305px; display:inline-block}

/*XOR Split Table*/
.lblXORSplit { width:230px; display:inline-block}

/*summary*/
.lblSummary {width:310px; display:inline-block}

.lblLText{ background-color:midnightblue; width:260px; display: inline-block; text-align: center}
.lblWOps { width:200px; display: inline-block}
.lblLL { width:305px; display:inline-block}
.lblLOps { width:250px; display: inline-block}
.lblL2Ops { width:370px; display: inline-block; alignment: center}
.lblClickCell {width:350px; word-wrap: break-word; display: block;}
.btnDefault { width:120px}
.labelI { alignment: center;}

.stepsTab {padding-top: 10px; text-align: center}
.stepsTab2 { padding-top:15px; padding-bottom: 5px}
.stepsTab2b {padding-top: 10px; padding-bottom: 5px}
.stepsTab3 { padding-top: 20px; padding-bottom: 5px}
.encryptionText { font-size: inherit; font-family: "Arial"}

table{
    border:1px;
}

table tr td{
    background-color: #c4e3f3;
}

table th{
    background-color: lightgrey;
}
.tableSpace {width:50%; padding-top:10px;}

.tableSpace2 {width:20%; padding-top:10px;}

.btn-info:hover {
    background: #fff;
    color: #000;
}

.btn-info {
    box-shadow: 1px 2px 5px #000000;
}

.btn-primary:hover {
    background: #fff;
    color: #000;
}

.editButton {
    alignment: top;
}

.editingBtn {
    padding-top: 10px;
    padding-bottom: 10px;
}
.modalLabel {
    font-size: small;
}

.btnRound {
    background: #fff;
    color: #000;
    width: 150px;
}

.autoBtn {
    width: 250px;
    alignment: center;
}

.auto {
    alignment:center;
}

textarea {
    resize: none;
}

.mixer {
    padding-top: 10px;}

.autoMainDiv {
    padding-top: 10px;
    padding-bottom: 5px; alignment:center}
